<div class="sidebar-right">
  <h2>Efficiency <span class="glyphicon glyphicon-time"</span></span>
  <h4><%= link_to "/əˈfiSHənsē/", "https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=efficiency+definition" %> </h4>
  <h3>noun</h3>
  <h4 class="italic">the state or quality of being efficient.
  "greater energy efficiency"</h4>
  <h3>synonyms</h3> 
  <h4 class="italic">organization, order, orderliness, regulation, coherenceMore
  an action designed to achieve this.</h4>
  <h3>plural noun</h3>
  <h4 class="italic">efficiencies; "to increase efficiencies and improve earnings" technical
  the ratio of the useful work performed by a machine or in a process to the total energy expended or heat taken in.</h4>
</div>