<div class="container">
  <div class="tasks-index">
    <h1 class="title">TaskManager<br/><span class="title-description">{ organize your todo lists }</span></h1>
    <%= link_to "Create a new todo list", '#', class: "links create-link" %>
    <div class="hidden-form-container"><%= render partial: 'lists/form' %></div>
    <br/>
    <br/>
    <% @lists.each do |list| %>
      <%= link_to list.title, list_tasks_path(list) %><br/>
    <% end %>
  </div>
</div>