<div class="container">
  <h1>Stopping by Woods on a Snowy Evening by Robert Frost</h1>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8"></div>
        <br/>
          <p class="about-paragraphs">
          Whose woods these are I think I know.His house is in the village, though; He will not see me stopping here To watch his woods fill up with snow. My little horse must think it queer To stop without a farmhouse near Between the woods and frozen lake The darkest evening of the year. He gives his harness bells a shake To ask if there is some mistake.The only other sound's the sweep Of easy wind and downy flake. The woods are lovely, dark and deep, But I have promises to keep, And miles to go before I sleep,And miles to go before I sleep.<br/>
        </div>
    </div>
  <h1>A Dream Within A Dream by Edgar Allan Poe</h1>
  <div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8"></div>
        <br/>
          <p class="about-paragraphs">
          Take this kiss upon the brow!And, in parting from you now,Thus much let me avow--You are not wrong, who deemThat my days have been a dream;Yet if hope has flown away In a night, or in a day,In a vision, or in none,Is it therefore the less gone?All that we see or seemIs but a dream within a dream.I stand amid the roarOf a surf-tormented shore,And I hold within my handGrains of the golden sand--How few! yet how they creepThrough my fingers to the deep,While I weep--while I weep!O God! can I not graspThem with a tighter clasp?O God! can I not saveOne from the pitiless wave?Is all that we see or seem But a dream within a dream?</p>
        </div>
    </div>
  </div>
</div>
