<h1 class="title">MISCELLANY<br/><span class="title-description"><%= link_to "mis·cel·la·ny","https://github.com/SamanthaJ/miscellany"%> </span><br/><span class="title-description"> { : a group or collection of different items; a mixture } </span></h1>
  <div class="col-md-offset-4 col-md-4 landing-page-container">
    <h3>This is a collection of miscellaneous web applications that I have built.</h3>
    <h3>Simply sign up or log in and enjoy!.</h3>
    <h3><%= link_to "Sign up!", new_user_registration_path, class: "links"%></h3>
  </div>
</div>
  





