<h1 class="title">MISCELLANY<br/><span class="title-description black-color-for-text">mis·cel·la·ny</span><br/><span class="title-description">{ : a group or collection of different items; a mixture } </span></h1>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>What is MISCELLANY?</h2>
    <h3>This is a miscellaneous collection of web applications that I have built.</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h2>Who am I?</h2>
    <h3>Here will go a description of me? maybe? or possibly not.</h3> 
  </div>
</div>






