<div class="container">

  <div class="tasks-index">
    <h1 class="title">TaskManager<br/><span class="title-description">{ prioritze your todo lists }</span></h1>
    <%= link_to "Create a new todo list", '#', class: "links create-link" %>
    <div class="hidden-form-container"><%= render partial: 'tasks/form' %></div>
    <br/>
    <br/>
    <% @tasks.each do |task| %>
      <%= link_to task.task_type, task_path(task) %><br/>
    <% end %>
  </div>
</div>





    
      