<div class="form">
    <%= form_for @fact do |f| %>   
      
      <%= f.text_field :question, placeholder: "question"%><br/><br/>
      
      <%= f.text_area :answer, placeholder: "answer", maxlength: '500' %><br/>

      <%= f.submit 'Submit' %>
    <% end %>
</div>  