<div class="form">
    <%= form_for @fact do |f| %>   
      
      <%= f.text_field :question, placeholder: "question" %><br/><br/>
      
      <%= f.text_area :answer, placeholder: "answer" %><br/>

      <%= f.submit 'Submit' %>
    <% end %>
</div>  