<div class="form"> 
  <%= form_for @post do |f| %>
    <%= f.text_area :title, placeholder: "title", cols: '45', rows: '4' %><br/><br>
    <%= f.text_area :body, placeholder: "body", cols: '85', rows: '10' %><br/>   
    <%= f.submit %>
  <% end %>
</div>
<br/>