<div class='sidebar-left'>
  <h2>blog</h2>
  <h4><%=link_to "bläɡ/","http://en.wikipedia.org/wiki/Blog" %></h4>
  <h3>noun</h3>
  <h4>1.a regularly updated website or web page, typically one run by an individual or small group, that is written in an informal or conversational style.</h4>
  <h3>verb</h3>
  <h4>verb: blog; 3rd person present: blogs; past tense: blogged; past participle: blogged; gerund or present participle: blogging<br/><br/>1.add new material to or regularly update a blog.</h4> 
</div>