@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "jquery.nouislider.min.css";
@import "tip_cards.css";




* {
  font-weight: 100;
  // text-align: center;
}
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

tr {
   border-bottom: transparent;

}

th {
    height: 25px;
    // text-align: center;
    font-size: 30px;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1, h2, h3, h4, p {
  font-weight: 100;
  color: gray;
}
  
h4 {

  font-size: 12px;
}

p {
  font-size: 25px;
}

.navbar-brand {
  font-size: 30px;
}

.title {
  padding-bottom: 60px;
  // text-align: center;

}

.title-description {
  font-size: 20px;
}

.form {
 font-size: 15px;
 font-weight: 100;
}

.posted-by {
  font-size: 18px;
  color: gray;
}

.show-post {
  // text-align: center;
  font-size: 25px;
  padding-bottom: 150px;
}

.links {
  font-size: 20px;
}

.comments {
  font-size: 25px;
  font-weight: 100;
}

.hidden-form-container {
  display: none;
}

.tasks-index {
  font-size: 140%;
  color: gray;
}

.product-show {
  font-size: 20px;
  text-align: left;
  h2 {
    text-align: left;
  }
  .links {
    text-align: left;
  }
}

#product-table {
  font-size:140%;
  color: gray;
}

#product-table_wrapper {
  overflow: scroll;
  width: 100%;
}

#amount {
  border: 0; 
  color: #f6931f; 
  font-weight:bold;
}

#duration {
  border: 0; 
  color: #f6931f; 
  font-weight:bold;
}

.glyphicon-check {
  display: none;
}

.flippable {
  background-color: white;
}

.jumbotron {
  background-color: beige;
  text-align: center;  
}

.tip {
  padding: 10px;
  font-size: 25px;
  height: 150px;
  overflow: scroll;
  &:hover {
    cursor: pointer;
  }
}

.tc_inner_modal {
  height: 200px;
  margin: 10%;
}

.tc_back {
  font-size: 20px;
  overflow: scroll;
}

.tc_front {
  font-size: 20px;
  overflow: scroll;
}





