@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: sans-serif;
  font-weight: 100;
}
.navbar-brand {
  text-align: left; 

}

h1 {
  font-weight: 100;
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;  
}

.sign-in-form {
 text-align: center; 
 font-size: 15px;
 font-weight: 100;
}



#about {
  font-size: 20px;
}

.homepage {
  padding-top: 100;
}