@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "jquery.nouislider.min.css";
@import "tip_cards.css";
@import "bootstrap-rating.css";


/* universal */


* {
  font-weight: 100;  
}
body {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* containers */


#container {
    width: 980px;
    margin: 0 auto;
}
.hidden-form-container {
  display: none;
}
#content {
    overflow: hidden;
}


/* tags */


h1, h2, h3, h4, h5, p {
  font-weight: 100;
  color: gray;
}  
h4 {
  font-size: 18px;
}
p {
  font-size: 25px;
}

h5 {
  font-size: 12px;
}


/* tables */


table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
tr {
   border-bottom: transparent;
}
th {
    height: 25px;   
    font-size: 30px;
}
#product-table {
  font-size:140%;
  color: gray;
}
#product-table_wrapper {
  overflow: scroll;
  width: 100%;
}


/* boilerplate */


#navbar-brand {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.navbar-right {
  a {
    text-decoration: none;
    margin-right: 25px;
  }
}
.title {
  padding-bottom: 15px;
  text-align: center;
}
.title-description {
  font-size: 20px;
}
.form {
 font-size: 15px;
 font-weight: 100;
}
.comments {
  font-size: 25px;
  font-weight: 100;
}
#duration {
  border: 0; 
  color: #f6931f; 
  font-weight:bold;
}
.glyphicon-check {
  display: none;
}
.strike-through {
  text-decoration: line-through;
  font-style: italic;
}
.opaque{
  opacity: .4;
}
.panel {
  width: 80%;
}
.panel-footer {
  background-color: #F8F8F8;
}
.task-label {
  font-weight: 100;
  color: gray;
  text-transform: capitalize; 
}
.rating {
  background-color: yellow;
}
.list-group-item {
  background-color: #F8F8F8;
}
.image {
  text-align: center;
  padding-bottom: 15px;
}
.black-color-for-text {
  color: black;
}
.stars {
color: gold;
font-size: 20px;
}
.italic {
  font-style: italic;
}
.glyphicon-time {
  font-size: 20px;
  color: gold;
}
.x-for-delete {
  float: right;
}
#task {
  opacity: 1;
}
.comments-body {
  width: 50%
}



/* links */


.links {
  font-size: 20px;
}
.create-link {
  text-align: center;
}


/* fact flipper */


.tips {
  padding-top: 10%;
}
.tip {
  padding: 10px;
  font-size: 25px;
  height: 150px;
  overflow: scroll;
  &:hover {
    cursor: pointer;
  }
}
.tc_inner_modal {
  height: 200px;
  margin: 10%;
}
.tc_back {
  font-size: 20px;
  overflow: scroll;
}
.tc_front {
  font-size: 20px;
  overflow: scroll;
}


/* sidebar */


.sidebar-right {
    float: right;
    width:150px;  
}
.sidebar-left {
    float: left;
    width: 150px; 
}


/* footer */


footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid #FF6600;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer ul {
  float: right;
  list-style: none;
  padding-right: 20px;
  font-size: 18px;
}












