<!DOCTYPE html>
<html>
<head>
  <title>Miscellany</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Miscellany</a>
      <ul class="nav navbar-nav">
        <li><a href='posts#index'>Blogger</a></li>
        <li><a href='#'>TaskManager</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
